<div class="homepage-container d-flex justify-content-center align-items-center testing-body">
  <div class="heading">
     <h1>"TEST Revive the glamour of the past"</h1>
     <h4><em>Your Journey Begins with Our Classic Wheels!</em></h4>
     <p>"<span>Experience the timeless elegance and sophistication of a bygone era.</span> Rent a piece of history today and embark on a journey through time behind the wheel of a meticulously preserved vintage automobile. Whether it's for a special occasion, a memorable road trip, or simply to indulge in the nostalgia of classic motoring, our collection of vintage cars awaits you. Step back in time and make memories that will last a lifetime with our vintage car rental service."</p>
      <%= link_to "See our cars", cars_path, class: "link" %>
  </div>
  <div class="photo-container d-flex justify-content-center">
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner" id="image-carousel">
        <div class="carousel-item active ">
          <%= image_tag "Vintage_car_9.png", class: "d-block", alt: "Photo 1" %>
        </div>
        <div class="carousel-item ">
          <%= image_tag "Vintage_car_10.png", class: "d-block", alt: "Photo 2" %>
        </div>
        <div class="carousel-item ">
          <%= image_tag "Vintage_car_4.png", class: "d-block", alt: "Photo 2" %>
        </div>
        <div class="carousel-item ">
          <%= image_tag "Vintage_car_7.png", class: "d-block", alt: "Photo 3" %>
        </div>
        <div class="carousel-item ">
          <%= image_tag "Vintage_car_6.png", class: "d-block", alt: "Photo 4" %>
        </div>
        <div class="carousel-item ">
          <%= image_tag "Vintage_car_5.png", class: "d-block", alt: "Photo 4" %>
        </div>
        <div class="carousel-item ">
          <%= image_tag "Vintage_car_8.png", class: "d-block", alt: "Photo 4" %>
        </div>
        <div class="carousel-item ">
          <%= image_tag "Vintage_car_2.png", class: "d-block", alt: "Photo 4" %>
        </div>
        <div class="carousel-item ">
          <%= image_tag "Vintage_car_1.png", class: "d-block", alt: "Photo 4" %>
        </div>
        <div class="carousel-item ">
          <%= image_tag "Vintage_car_3.png", class: "d-block", alt: "Photo 4" %>
        </div>
      </div>
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>
  </div>
</div>
