<h1>Welcome to Your Dashboard, <%= current_user.username %></h1>

<%= image_tag current_user.avatar_url, alt: 'User Avatar' %>

<h2>My Cars</h2>
<% if current_user.cars.any? %>
  <ul>
    <% current_user.cars.each do |car| %>
      <li>
        <%= image_tag car.photo_url, alt: 'Car Image' %>
        <p><strong><%= car.brand %></strong></p>
        <p><%= car.description %></p>
        <p><%= car.city %></p>
        <p><%= car.price %> €</p>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>You don't have any cars yet.</p>
<% end %>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Add a car
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Your car informations</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render 'cars/new', car: @car %>
      </div>
    </div>
  </div>
</div>
