<div class="car-container">

<div class="car-wrapper">
          <div class="image-container">
            <img src=" <%= @car.photo_url %> " class="card-img-top" alt="...">
          </div>
          <div class="content-container">
            <h5 class="mt-2"><%= @car.brand %></h5>
            <strong>Description: </strong>
            <p><%= @car.description %></p>
            <p>
              <strong>City:</strong> <%= @car.city %>
            </p>
            <p>
              <strong>Price:</strong> €<%= @car.price.round %> <span class="fs-6">per day</span>
            </p>

              <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                  Reserve this car
                </button>
                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Booking Form</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <%= render "bookings/form", car: @car, booking: @booking %>
                      </div>
                    </div>
                  </div>
                </div>



        </div>
</div>
</div>
