<div class="button-container">
  <%= link_to "Back to cars", cars_path, class: "back-button" %>
</div>

<div class="car-container">
  <div class="car-wrapper col-6">
      <div class="image-container">
          <img src=" <%= @car.photo_url %> " class="card-img-top" alt="...">
      </div>
      <div class="content-container" data-controller="datepicker" >
          <h5 class="mt-2"><%= @car.brand %></h5>
          <strong>Description: </strong>
          <p><%= @car.description %></p>
          <p><strong>City:</strong> <%= @car.city %></p>
          <p><strong>Price:</strong> €<span id="flat-price-per-night"  data-datepicker-target="span" ><%= @car.price.round %></span> <span class="fs-6">per day</span></p>

          <!-- Button trigger modal -->
            <button type="button" class="link" data-bs-toggle="modal" data-bs-target="#staticBackdrop", style="margin-top: 0.1rem;">
                Reserve this car
            </button>
          <!-- Modal -->
          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h1 class="modal-title fs-5 text-center fw-bold" id="staticBackdropLabel">Booking Form</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body" data-controller="alerts">
                          <%= render "bookings/form", car: @car, booking: @booking %>
                      </div>
                  </div>
              </div>
          </div>
        </div>
  </div>
</div>
